book_layout.sty
peeters_macros.sty
peeters_colorscheme.sty
peeters_figures.sty
peeters_tablebox.sty
peeters_layout.sty
peeters_braket.sty
peeters_layout_exercise.sty
macros_bm.sty
macros_cal.sty
macros_lcal.sty
macros_qed.sty
gabook.sty
matlab.sty
notes/GAelectrodynamics/GAelectrodynamics.tex
notes/GAelectrodynamics/Bibliography.bib
notes/GAelectrodynamics/FrontBackmatter/DirtyTitlepage.tex
notes/GAelectrodynamics/FrontBackmatter/Index.tex
notes/GAelectrodynamics/FrontBackmatter/ContentsAndFigures.tex
notes/GAelectrodynamics/FrontBackmatter/Bibliography.tex
notes/GAelectrodynamics/FrontBackmatter/Dedication.tex
notes/GAelectrodynamics/FrontBackmatter/Titleback.tex
notes/GAelectrodynamics/FrontBackmatter/copyright.tex
notes/GAelectrodynamics/FrontBackmatter/Version.tex
notes/GAelectrodynamics/currentBookCopyright.tex
notes/GAelectrodynamics/mathematica.tex
notes/GAelectrodynamics/backmatter.tex
